<div class="card clickable" [ngStyle]="{'background': getBackgroundStyle()}">
  <div class="flex flex-col justify-center items-center gap-3 z-0">

    <!-- Larger image behind text -->
    <div class="imagePokemonListe">
      <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="getPokemonName()">
    </div>

    <!-- Container with name and number at the bottom -->
    <div class="testbgcontainer">
      <div class="testbg" [ngStyle]="{'background-color': getSecondTypeColor()}">
        <p>{{ getPokemonName() }}</p>
      </div>
      
      <div class="numberbg">
        <p class="numberPokedex" [ngStyle]="{'background-color': getSecondTypeColor()}">{{ pokemon.id }}</p>
      </div>  
    </div>
  </div>
</div>
