/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
        font-family: "Courgette", cursive;
        font-weight: 400;
        font-style: normal;     
}
  

/* Par défaut thème clair */
:root {
        --bg-color: #ffffff;
        --text-color: #000000;
      }
      
      /* Thème sombre */
      .dark {
        --bg-color: #4e4e4e;
        --text-color: #ffffff;
      }
      
      
      /* Applique les variables sur le body */
      body {
        background-color: var(--bg-color);
        color: var(--text-color);
        transition: background-color 0.3s, color 0.3s;
      }
      